:root {
  --primary-color: #E9C46A;
  --secondary-color: #F4A261;
  --bg-color: #264653;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--bg-color);
}

/* Lottie styling */
.block__hamburger {
  path {
    stroke: var(--primary-color);
    fill: var(--primary-color);
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
